* {
    margin: 0;
    padding: 0;
}

/*      Header         */


.indexTitle {
    width: fit-content;
    background-color: antiquewhite;
}

header {
    position: sticky;
    top: 0;
    background-color: #0b37a2;
    box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.5)
}

.header_nav {
    position: relative;
    margin: 0 auto;
    max-width: 60%;
    height: 100px;
    min-height: 100px;
}

.header_nav_logo {
    display: inline;
    height: inherit;       
}

.header_nav_logo a {
    height: inherit;
    min-height: inherit;
}

.header_nav_logo a img {
    display: inline;
    height: inherit;
    min-height: inherit;
    
}

.header_nav_ul {
    height: inherit;        
    float: right;  
    list-style-type: none;
    display: flex;    
    align-items: center;
    
}

.header_nav_ul li { 
    margin: 16px;
    
}
.header_nav_ul li:hover {
    border: solid 1px white;
}

.navElement {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;    
    
    text-decoration: none;
    text-transform: uppercase;
}

.backgroundImage img {
    width: 100%;
}

@media screen and (max-width: 768px){
    header {

    }



}