/* General CSS */

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    
}

h1 {
    padding-top: 10px;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    font-weight: 800;
    font-size: 30px;
    text-transform: uppercase;
    color: #3160da;
    text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.5);
}

/*      Header         */


.indexTitle {
    width: fit-content;
    background-color: antiquewhite;
}

header {
    position: sticky;
    top: 0;
    background-color: #0b37a2;

    box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.5)
}

.header_nav {
    margin: 0 auto;
    max-width: 60%;
    height: 100px;
    min-height: 100px;
}

.header_nav_logo {
    display: inline;
    height: inherit;
}

.header_nav_logo a {
    height: inherit;
    min-height: inherit;
}

.header_nav_logo a img {
    display: inline;
    height: inherit;
    min-height: inherit;

}

.header_nav_ul {
    height: inherit;
    float: right;
    list-style-type: none;
    display: flex;
    align-items: center;

}

.header_nav_ul li {
    margin: 16px;

}

.header_nav_ul li:hover {
    border: solid 1px white;
}

.navElement {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;

    text-decoration: none;
    text-transform: uppercase;
}

.backgroundImage img {
    width: 100%;
}


/* Contact page */

.contact_main {
    margin-top: 5px;
    background-color: rgb(245, 245, 245);

}

.contact_section {
    display: block;
    width: fit-content;
    margin: 0 auto;

}

#contact_map {
    display: block;
    width: fit-content;
}

.contact_section h2 {
    color: #3160da;
    margin: 0 auto;
    width: fit-content;

}

#contact_form form input[type=submit] {
    background-color: #3160da;
    color: white;
}

#contact_data ul li {
    list-style-type: none;


}

/* Us page */

.us_section {
    max-width: 60%;
    margin: 0 auto;
    font-family: 'Roboto Condensed', sans-serif;
}

.us_section img {
    margin: 0 auto;
    width: 100%;

}

#us_second_div {
    background-color: #3160da;
    color: white
}

#us_second_div h2 {
    color: white
}

.us_section div p {
    font-weight: 800;
    font-size: 20px;
}

.us_section div h2 {
    width: fit-content;
    margin: 0 auto;
    color: #3160da;
    text-transform: uppercase;
}


/* Services page */

.services_div {
    width: 60%;
    margin: 0 auto;
}

.services_div h2 {
    color: #3160da;
}

#services_gray_div {
    background-color: rgb(245, 245, 245);
}


/* Properties Page */

.properties_list {
    background-color: rgb(245, 245, 245);
    width: 60%;
    margin: 0 auto;
    
}
.properties_list ol {
    list-style-type: none;
}
.properties_list ol li button{
    background-color: #3160da;
    color: white;
    border: #3160da;
    
}
/* @media screen and (max-width: 768px){
    header {

    }



} */