body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;

}

.grid {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 1fr 0fr;
    grid-auto-flow: dense;
    gap: 0px 0px;
    grid-template-areas:
        "header"
        "main"
        "footer";

}
.hs{
    padding-top: 10px !important;
    text-align: center !important;
    margin: 0 auto !important;

}

h1 {
    @extend.hs;
    width: 60% !important;
    font-weight: 800 !important;
    font-size: 30px !important;
    text-transform: uppercase !important;
    color: map-get($colores, secondary_color);
    text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.5) !important;
}
h4{
    @extend.hs;

}

main {
    grid-area: main;
}

header {
    grid-area: header;
    z-index: 999;
    position: sticky;
    top: 0;
    background-color: map-get($colores, principal_color);
    box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.5);
    height: 104px;
}

.header_nav {
    margin: 0 auto;
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: row;

    a {
        img {
            height: 100px;
        }
    }

}

.header_nav_ul {
    list-style-type: none;
    display: flex;
    margin-left: auto;

    li {
        transition: transform 0.35s;
        margin: 16px;

        &:hover {
            transform: scale(1.07);
        }
    }


}

.navElement {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

/*                   Footer                  */

footer {
    height: 104px;
    background-color: rgb(138, 138, 138);

    div {
        grid-area: footer;
        margin: 0 auto;
        width: 70%;
        height: 104px;
        display: flex;
        vertical-align: center;
        justify-content: center;

        a img {
            width: 20%;
        }
    }

}

$redes: (
    youtube: red,
    facebook: blue,
    instagram: white,
    whatsapp: green,
);

@each $red,
$color in $redes {
    .btn-#{$red} {
        background-color: $color;
    }
}

h4 {
    font-size: 16px !important;
}

div .footer_flex {
    display: flex;
}

@media screen and (max-width: 1076px) {
    .header_nav {
        width: 90%;
    }

    footer div {
        width: 90%;
    }

    .search_bar {
        width: 500px;
    }

    .search_bar h1 {
        width: 80%;
    }

    .form-select {
        width: 400px;
    }

    footer {
        height: 125px;
    }
}

@media screen and (max-width: 810px) {
    .btn-group {
        width: 100%;
    }

    .grid {
        grid-template-rows: 0fr 1fr 0fr;
    }

    .properties_list {
        width: 100%;
    }

    header {
        position: relative;
        height: 325px;
    }

    .header_nav {
        flex-direction: column;
    }

    .header_nav ul {
        margin-left: 0;
        flex-direction: column;
    }

    .header_nav_ul li {
        margin: 8px;
        text-align: center;
    }


    .backgroundImage {
        height: 325px;
    }

    .backgroundImage img {
        height: inherit;
        object-fit: cover;
    }

    .search_bar {
        width: 320px;
    }

    .search_bar h1 {
        width: 100%;
    }

    .form-select {
        width: 320px;
    }

    footer {
        height: 125px;
    }

}