.us_section {
    max-width: 60%;
    margin: 0 auto;
    font-family: 'Roboto Condensed', sans-serif;
}

.us_section img {
    margin: 0 auto;
    width: 100%;

}

#us_second_div {
    background-color: #3160da;
    color: white
}

#us_second_div h2 {
    color: white
}

.us_section div p {
    font-weight: 800;
    font-size: 20px;
}

.us_section div h2 {
    width: fit-content;
    margin: 0 auto;
    color: #3160da;
    text-transform: uppercase;
}